color1 = #134A9C
color2 = #A6A8AB
color3 = #64dd17
color4 = #39796b
color5 = #111111
color6 = #ffffff


body
	background-color #f4f4f4
	font-size 14px


a
.btn
	&:active
	&:focus
		box-shadow none
		outline none

.mtop16
	margin-top 16px

.mtop32
	margin-top 32px

.form-control
	&:hover
	&:focus
		box-shadow none

.img2
	width 100%


nav
	background-color #134A9C
	color #fff
	border-bottom 2px solid color1
	h2
		font-family: 'Exo 2', sans-serif
		// margin-left 10px
		// margin-top 14px
		margin-top 10px
		margin-left calc(20% - 30px)
	a
		margin-left auto
		color #fff
		font-family: 'Exo 2', sans-serif
		font-size 1.0em !important
		// font-size 0.9em !important
		&:hover
			color color2
	.img1
		// width 15%
		width 22%
nav.h2
	display flex
	align-content: center



