color1 = #134A9C
color2 = #A6A8AB
color3 = #64dd17
color4 = #39796b
color5 = #111111
color6 = #ffffff


body
	background-color #f4f4f4
	font-size 14px
	font-family: 'Roboto', sans-serif;


a
.btn
	&:active
	&:focus
		box-shadow none
		outline none

.mtop16
	margin-top 16px

.mtop32
	margin-top 32px

.form-control
	&:hover
	&:focus
		box-shadow none

.img2
	width 100%


nav
	background-color #134A9C
	color #fff
	border-bottom 2px solid color1
	h1
		margin-left 20px
	a
		margin-left auto
		color #fff
		&:hover
			color color2
	.img1
		width 15%


